*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

:root {
  --main-color: #0c4a6e;
  --main-color-grad: #0369a1;
  --off-color: #f0f9ff;
  --error-color: #be185d;
  --uv-index-low: #a3e635;
  --uv-index-med: #fcd34d;
  --uv-index-medHigh: #f59e0b;
  --uv-index-high: #dc2626;
  --displayDiv-w: clamp(15rem, 80vw, 50rem);
  --displayDiv-p: calc(var(--displayDiv-w) * 0.05);
  --displayDiv-bord-rad: calc(var(--displayDiv-w) * 0.03);
  --form-header-el: clamp(2rem, 10vw, 6rem);
  --form-header-gap: calc(var(--form-header-el) * 0.1);
  --form-input-p: calc(var(--displayDiv-p) * 0.25);
  --form-input-fs: calc(var(--form-header-el) * 0.4);
  --searchRes-fs: calc(var(--form-input-fs) * 0.8);
}

html {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  background: linear-gradient(
    to bottom,
    var(--main-color),
    var(--main-color-grad)
  );
  padding: calc(var(--displayDiv-p) * 2);
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

input,
select,
textarea,
button {
  font-family: inherit;
}

.displayDiv {
  background-color: white;
  width: var(--displayDiv-w);
  padding: var(--displayDiv-p);
  border-radius: var(--displayDiv-bord-rad);
}

.displayDiv .form-header {
  display: flex;
  gap: var(--form-header-gap);
  align-items: center;
}
.displayDiv .form-header > svg {
  fill: var(--main-color);
  width: var(--form-header-el);
}

.displayDiv .form-input {
  flex-grow: 1;
  position: relative;
}

.displayDiv .form-input > input {
  width: 100%;
  padding-block: var(--form-input-p);
  padding-inline: calc(var(--form-input-p) * 0.5);
  font-size: var(--form-input-fs);
  color: var(--main-color);
  text-transform: capitalize;
}

.displayDiv .form-input > input:focus + label,
.displayDiv .form-input > input:valid + label {
  scale: 0;
}

.displayDiv .form-input > label {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: calc(var(--form-input-fs) * 0.8);
  color: var(--main-color);
  text-transform: uppercase;
  white-space: nowrap;
}

.displayDiv .form-input > .invalid-location {
  color: var(--error-color);
  font-weight: 600;
}

.displayDiv .form-header > button {
  background-color: var(--off-color);
  display: grid;
  border-radius: 50%;
  width: var(--form-header-el);
  padding: calc(var(--form-input-p) * 0.5);
}

.displayDiv .form-header > button:hover {
  background-color: var(--main-color);
  cursor: pointer;
}

.displayDiv .form-header > button:hover > svg {
  fill: var(--off-color);
}

.displayDiv .form-header > button > svg {
  fill: var(--main-color);
}

.displayDiv > .searchResult.hidden {
  display: none;
}

.displayDiv > .searchResult {
  display: flex;
  flex-direction: column;
  gap: calc(var(--form-header-gap) * 5);
  margin-top: calc(var(--displayDiv-p) * 1.2);
  padding-inline: calc(var(--displayDiv-p) * 0.3);
  font-size: var(--searchRes-fs);
  color: var(--main-color);
}

.searchResult span {
  font-weight: 600;
}

.temperature,
.windAndUV {
  display: flex;
  justify-content: space-between;
}

.locationAndCondition,
.degrees,
.feelsLike,
.wind,
.UV {
  display: flex;
  flex-direction: column;
  gap: var(--form-header-gap);
}

.locationAndCondition > div,
.degrees > div,
.feelsLike > div,
.wind > div,
.UV > div {
  display: flex;
  justify-content: space-between;
  gap: calc(var(--form-header-gap) * 2.5);
}

.UV {
  display: flex;
  justify-content: center;
}
